---
layout: default
title: Home
---
<div id="welcome">
  <div class="triangle-wrap">
    <div class="triangle">
      <div class="triangle-reset">
        <div class="triangle-content">
        </div>
      </div>
    </div>
  </div>
  <!-- <a href="{{ site.contacts.facebook }}" target="_blank" title="Meu perfil no facebook" rel="noopener">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a> -->
  <!-- <a href="{{ site.contacts.instagram }}" target="_blank" title="Meu perfil no instagram" rel="noopener">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a> -->
  <a href="{{ site.contacts.github }}" target="_blank" title="Meu GitHub" rel="noopener">
    <i class="fa fa-github-alt" aria-hidden="true"></i>
  </a>
  <a href="mailto:{{ site.contacts.email }}" target="_blank" title="Meu email para contato" rel="noopener">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
  <!-- <a href="{{ site.contacts.twitter }}" target="_blank" title="Meu perfil no twitter" rel="noopener">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a> -->
  <a href="{{ site.contacts.linkedin }}" target="_blank" title="Meu perfil profissional" rel="noopener">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <!-- <a href="{{ site.contacts.googleplus }}" target="_blank">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
  </a> -->
  <a href="{{ site.contacts.spotify }}" target="_blank" title="Minhas músicas" rel="noopener">
    <i class="fa fa-spotify" aria-hidden="true"></i>
  </a>
  <h1>{{ site.description }}</h1>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Novos</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Novos</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Novos</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Antigos</a>
  {% else %}
    <span class="pagination-item older">Antigos</span>
  {% endif %}
</div>

