<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119557424-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119557424-1');
  </script>

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta property="og:locale" content="pt_BR">
  {% if page.title == "Home" %}
  <meta property="og:title" content="Gabriel Napoleão ⚡ Front End Developer">
  <meta property="og:description" content="Olá, sou Gabriel Napoleão, um desenvolvedor front end que mora no Brasil. Gosto de aprender e disseminar conhecimento.">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="Gabriel Napoleão ⚡ Front End Developer">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="Olá, sou Gabriel Napoleão, um desenvolvedor front end que mora no Brasil. Gosto de aprender e disseminar conhecimento.">
  <meta name="twitter:title" content="Gabriel Napoleão ⚡ Front End Developer">
  <meta property="og:image" content="https://gabrielndr.github.io/public/i.png">
  <meta property="og:type" content="blog">
  {% elsif page.layout == "post" %}
  <meta property="og:title" content="{{ page.title }} ⚡ Gabriel Napoleão"">
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50}}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="Gabriel Napoleão ⚡ Front End Developer">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 50}}">
  <meta name="twitter:title" content="{{ page.title }} ⚡ Gabriel Napoleão">
  <meta property="og:image" content="https://gabrielndr.github.io/public/i_wide.png">
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="{{ page.date }}" />
  {% else %}
  <meta property="og:title" content="{{ page.title }} ⚡ Gabriel Napoleão"">
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50}}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ page.title }} ⚡ Gabriel Napoleão">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 50}}">
  <meta name="twitter:title" content="{{ page.title }} ⚡ Gabriel Napoleão">
  <meta property="og:image" content="{{ site.url }}/public/i.png">
  <meta property="og:type" content="profile">
  {% endif %}
  <meta name="keywords" content="HTML,CSS,JavaScript,ECMAScript,FrontEnd">
  <meta name="author" content="Gabriel Napoleão">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="theme-color" content="#303030">
  <meta name="apple-mobile-web-app-status-bar-style" content="#303030">
  <meta name="msapplication-navbutton-color" content="#303030">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      Gabriel Napoleão ⚡ Front End Developer
    {% else %}
      {{ page.title }} ⚡ Gabriel Napoleão
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
